name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main  # O reemplaza por el nombre de tu rama principal

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase Hosting
        env:
          FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
          PROJECT_ID: hello-firebase-59e70
        run: |
          echo "$FIREBASE_SERVICE_ACCOUNT" > $HOME/firebase-key.json
          firebase deploy --project $PROJECT_ID --token "$(firebase login:ci --no-localhost)"
